// --------------------------------------

// color bases
// http://bootstraplovers.com/templates/assan-v2.5/main-template/buttons.html
// http://bootstraplovers.com/templates/assan-v2.5/main-template/index.html#
// http://bootstraplovers.com/templates/assan-v2.5/main-template/me.html
// http://wrapbootstrap.com/preview/WB0RK211T
// http://barunka.ondrejsvestka.cz/
// implement some of the things in this site
// footer at the bottom

// or the blue and gray from here
// http://barunka.ondrejsvestka.cz/

// http://wrapbootstrap.com/preview/WB0RK211T

// Gray and white tones
// template online
// https://color.adobe.com/IT-website-color-theme-8962610/
// https://color.adobe.com/Copy-of-IT-website-color-theme-8962709/ (Improvements Andrew)

// maybe not enough contrast
// $white: #F7F7F7;
// $off-white: #f4f4f4; //#f7f7f7;


// _____________________________________
//
// Theme main colors
// ________________________________________

$call-to-action: #E74C3C;
$primary-color: #3498DB;   //nice blue 306d9f
$secondary-color: #334A55;

$white: #FFFFFF;
$soft-white: #F4F4F4; //#f7f7f7;

// Text colors, gray block
$grey-white: #8f8f8f;      // slightly lighter for less attention to items #f7f7f7;
$dark-grey: #3f3f3f;        // header text
$soft-grey: #676767;        // normal text

// Fonts to consider for headers
// "Montserrat",sans-serif

// ____________________________________________
//
//      General styles
// ____________________________________________

Bootstrap
// http://getbootstrap.com/components/#navbar-fixed-top

body {
  background-color: $white;
  color: $soft-grey;
  font-family: 'Helvetica', "Droid Serif",serif;
  font-size: 1.75rem;
  line-height: 3rem;
  position: relative;


//  background: rgba(0, 0, 0, 0) url($white-background-striped) repeat scroll center center;
//  background: rgba(0, 0, 0, 0) url($white-background-striped) repeat scroll center center;
  //background-color: $primary-color;// #989898;
}

.landing {
  background-attachment: fixed;
  background-color: #111;
  background-image: url('../images/working-on-laptop.jpg');
  background-position: center center;
  background-size: cover;
  color: #fff;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.landing::after {
    background: rgba(0, 0, 0, 0) url("../images/retro-overlay.png") repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.sticky-wrapper {         // used to stick the nav menu to the top of the page
  width: 100%;
    z-index: 999;
}

.navbar,
.navbar-default {
  width: 100%;
  background-color: $secondary-color;
  border: none;
  border-radius: 0;
}
.navbar-right{
  color: $secondary-color;
}
.navbar-brand{

}

.navbar-nav li a{
  color: $soft-white !important;
  background-color: inherit !important;
  border-bottom: 5px solid $secondary-color;
}
.navbar-nav li a:hover{
  border-bottom: 5px solid $primary-color;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover {
  border-bottom: 5px solid $primary-color;
}

.content-area{                  // used for each section of the page
  margin-top: 70px;
}

.about-area,
.services-area,
.portfolio-area,
.testimonals-area,
.contact-area{
  border: 1px solid #aaa;
  padding: 50px 40px;
}

h1{
  font-family: sans-serif;
  color: $primary-color;

}

h1:before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
}

// ____________________________________________
//
//      About area
// ____________________________________________

.about-area .row {
  margin: 0px;
}
.top-line {
  background-color: $soft-white;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid $primary-color;
}

.container-flex{
  display: flex;
  align-items: stretch;
}
.main-flex{
  display: flex;
  width: 100%;
  border: 1px solid #ccc;
  // background-color: $primary-color;
}

.right-line-flex {
  background-color: $soft-white;
  border-left: 1px solid $primary-color;

  width: 50px;
  min-width: 50px;
}

.about-area img {
  float: right;
  padding: 0px 0px 20px 20px;

}

.about-area .title {
  float: left;
}

// ____________________________________________
//
//      Services Area
// ____________________________________________

.services-area i {
  border: 3px solid $primary-color;
  border-radius: 50%;
  color: $primary-color;
  font-size: 4rem;
  margin: 30px;
  padding: 20px;
}

// ____________________________________________
//
//      Modal styles
// ____________________________________________

.modal{
  overflow: hidden;
  background-color: $secondary-color;
  // background: url($white-background-striped);
   //background: rgba(250, 250, 250, 0.95) url($white-background-striped) repeat scroll center center;
  // color: $text-color-grey;

   a {
    // color: $text-color-dark;
   }

   .btn .code {
  //   color: $blue;
   }
   .btn .site {
//     color: $text-color-grey;
   }
   .btn .myclose {
  //   color: $call-to-action;
   }

}

.modal-title {
//  background: $blue;
  border-bottom: 1px solid #222223;
  font-size: 3rem;
  line-height: 5rem;
//  color: $grey;
  text-align: center;
}

.modal-img-wrapper img{
  border-radius: 5px;
  margin: 10px auto;
  -webkit-box-shadow: 2px 2px 5px #ccc;
  -moz-box-shadow: 2px 2px 5px #ccc;
  box-shadow: 2px 2px 5px #ccc;
}

.modal-footer {
  border: none;
}


// ____________________________________________
//
//      development (temp)
// ____________________________________________

.border {
  border: 1px solid #ccc;
}
