// --------------------------------------
// color bases
// http://bootstraplovers.com/templates/assan-v2.5/main-template/buttons.html
// http://bootstraplovers.com/templates/assan-v2.5/main-template/index.html#
// http://bootstraplovers.com/templates/assan-v2.5/main-template/me.html
// http://wrapbootstrap.com/preview/WB0RK211T
// http://barunka.ondrejsvestka.cz/
// implement some of the things in this site
// footer at the bottom

// http://wrapbootstrap.com/preview/WB0RK211T

// Gray and white tones
// template online
// https://color.adobe.com/IT-website-color-theme-8962610/
// https://color.adobe.com/Copy-of-IT-website-color-theme-8962709/ (Improvements Andrew)

// _____________________________________
//
// Theme main colors
// ________________________________________

$call-to-action: #E74C3C;
$primary-color: #3498DB;   //nice blue 306d9f
$secondary-color: #334A55;

$white: #FFFFFF;
$off-white: #F4F4F4; //#f7f7f7;

// maybe not enough contrast
// $white: #F7F7F7;
// $off-white: #f4f4f4; //#f7f7f7;


// Text colors, gray block
$grey-white: #8f8f8f;      // slightly lighter for less attention to items #f7f7f7;
$dark-grey: #3f3f3f;        // header text
$soft-grey: #676767;        // normal text

// button darker gray color #bfbfbf;
// On overlay the accent color comes up
// #3498db

// $primary-color: #336699; //#306d9f;
// $secundary-color: #fafafc;


// Fonts to consider for headers
// "Montserrat",sans-serif


// or the blue and gray from here
// http://barunka.ondrejsvestka.cz/

//
// retro-overlay::after {
//     background: rgba(0, 0, 0, 0) url("images/retro-overlay.png") repeat scroll 0 0;
//     content: "";
//     height: 100%;
//     left: 0;
//     position: absolute;
//     top: 0;
//     width: 100%;
//




// ____________________________________________
//
//                 Variables
// ____________________________________________

// $primary-color: #336699; //#306d9f;
// $secundary-color: #fafafc;
$white: #f4f4f4;
$grey: #e1e1e1;
$black: #222223;

$navbar-color: /*#686868; */ #282839;       // dark blue
$blue: #306d9f;
$text-color-grey: #686868;
$text-color-dark: #222223;

$white-background-striped: '../images/diagonal-bg.png';
$white-background-striped: '../images/isometric-grid.png';

// $call-to-action: #E9612A;

 $bright-white: #f1f1f1;


// ____________________________________________
//
//      Stylesheet for Portfolio Page
// ____________________________________________

body {
  margin-top: 10px;
  font-family: 'Helvetica', "Droid Serif",serif;
  font-size: 1.75rem;
  line-height: 3rem;
  position: relative;
  color: $white;
  background: rgba(0, 0, 0, 0) url($white-background-striped) repeat scroll center center;
background: rgba(0, 0, 0, 0) url($white-background-striped) repeat scroll center center;
  //background-color: $primary-color;// #989898;
}


#after-intro,
#about,
#portfolio,
#contact {

}

#after-intro {

}

#about {

}

#portfolio {

}

#contact {
}

h1{

}

a {

}

.landing {
  // background-attachment: fixed;
  // background-color: #111;
  // background-image: url('../images/landing.jpg');
  // background-position: center center;
  // background-size: cover;
  // color: #fff;
  // height: 100vh;
  // min-height: 600px;
  // overflow: hidden;
  // padding: 0;
  // position: relative;
  // width: 100%;
}

.sticky-wrapper {
  // width: 100%;
  // z-index: 2;
}


.navbar,
.navbar-default {

}
.navbar-right{

}
.navbar-brand{

}

.navbar-nav li a{

}
.navbar-nav li a:hover{

}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover {

}

/* Modal classes */

.modal-content{
  overflow: hidden;
  background-color: $blue;
  // background: url($white-background-striped);
   background: rgba(250, 250, 250, 0.95) url($white-background-striped) repeat scroll center center;
   color: $text-color-grey;

   a {
     color: $text-color-dark;
   }

   .btn .code {
     color: $blue;
   }
   .btn .site {
     color: $text-color-grey;
   }
   .btn .myclose {
     color: $call-to-action;
   }

}

.modal-title {
  background: $blue;
  border-bottom: 1px solid #222223;
  font-size: 3rem;
  line-height: 5rem;
  color: $grey;
  text-align: center;
}

.modal-img-wrapper img{
  border-radius: 5px;
  margin: 10px auto;
  -webkit-box-shadow: 2px 2px 5px #ccc;
  -moz-box-shadow: 2px 2px 5px #ccc;
  box-shadow: 2px 2px 5px #ccc;
}

.modal-footer {
  border: none;
}
