// --------------------------------------

// color bases
// http://bootstraplovers.com/templates/assan-v2.5/main-template/buttons.html
// http://bootstraplovers.com/templates/assan-v2.5/main-template/index.html#
// http://bootstraplovers.com/templates/assan-v2.5/main-template/me.html
// http://wrapbootstrap.com/preview/WB0RK211T
// http://barunka.ondrejsvestka.cz/
// implement some of the things in this site
// footer at the bottom

// or the blue and gray from here
// http://barunka.ondrejsvestka.cz/

// http://wrapbootstrap.com/preview/WB0RK211T

// Gray and white tones
// template online
// https://color.adobe.com/IT-website-color-theme-8962610/
// https://color.adobe.com/Copy-of-IT-website-color-theme-8962709/ (Improvements Andrew)

// maybe not enough contrast
// $white: #F7F7F7;
// $off-white: #f4f4f4; //#f7f7f7;

// _____________________________________
//
// Theme main colors
// ________________________________________

$call-to-action: rgba(224,153,0,0.65);
$primary-color: #0379C4; //#3498DB; (original)  //nice blue 306d9f
$secondary-color: #2F4052;//#0A286B; //#334455;(original)  //#334A55;

$white: #FFFFFF;
$soft-white: #F4F4F4; //#f7f7f7;

// Text colors, gray block
$grey-soft: #8f8f8f;        // slightly lighter for less attention to items #f7f7f7;
$grey-dark: #3f3f3f;        // header text
$grey-medium: #676767;      // normal text

// Fonts to consider for headers
// "Montserrat",sans-serif

// ____________________________________________
//
//      General styles
// ____________________________________________

// Bootstrap
// http://getbootstrap.com/components/#navbar-fixed-top

html {
  // width: 98.8vw;
}

body {
  background-color: $white;
  color: $grey-medium;
  font-family: 'Roboto', sans-serif, serif !important;
  font-size: 1.75rem;
  line-height: 3rem;
  position: relative;
}

h1 {
  font-family: 'Roboto Slab', sans-serif, serif;
  color: $primary-color;
  font-size: 3.5vw;
  text-align: center;
  margin-bottom: 30px;
}

h1:before {
  content: '';
  display: block;
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
}

h2 {
  font-size: 2vw;
  margin-bottom: 20px;
}

h3 {

}

.landing {
  background-attachment: fixed;
  background-color: #111;
  background-image: url('../images/working-on-laptop-sun.jpg');
  background-position: center center;
  background-size: cover;
  color: #fff;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  display: flex;

  &:after {
    // background: rgba(0, 0, 0, 0) url("../images/retro-overlay.png") repeat scroll 0 0;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .intro-message {
    font-family: 'Roboto Slab', sans-serif, serif;
    font-size: 2.75rem;
    background-color: rgba(245, 250, 255, 0.85);
    border-radius: 3px;
    color: $grey-dark;
    display: inline-block;
    padding: 10px 12% 40px;
    margin: 75px auto auto;
    // margin: auto;
    z-index: 10;
  }
  hr {
    margin: -10px 0 0 0;
    border: 1px solid lighten($grey-soft, 25%);
  }
  h2 {
    font-weight: 300;
  }
}

.cta-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 40px;

  .btn {
    padding: 5px 20px;
    background-color: $call-to-action;
    border: 0px solid $primary-color;
    color: $grey-dark;
    font-family: 'Roboto', sans-serif, serif;
    font-weight: 400;
    font-size: 2.25rem;
    margin-bottom: 5px;
  }
  .btn:first-child {
    margin-right: 5px;
  }

}

.down-arrow {
  bottom: 5%;
  color: $white;
  cursor: pointer;
  font-size: 3.5rem;
  left: 49.3%;
  // padding: 15px 20px;
  position: absolute;
  z-index: 100;
}


// ____________________________________________
//
//      Navigation Styles
// ____________________________________________

.sticky-wrapper {         // used to stick the nav menu to the top of the page
  width: 100%;
    z-index: 999;
}

.navbar,
.navbar-default {
  width: 100%;
  background-color: rgba(47, 64, 82, 0.95);
  border: none;
  border-radius: 0;
  z-index: 999;
}
.navbar-right{
  color: $secondary-color;
}
.navbar-default .navbar-brand{
  padding-left: 20px;
  color: $soft-white;
  font-family: 'Roboto Slab', sans-serif, serif;
  font-size: 2.5rem;
}

.navbar-nav li a{
  color: $soft-white !important;
  background-color: inherit !important;
  border-bottom: 5px solid $secondary-color;
}
.navbar-nav li a:hover{
  border-bottom: 5px solid $primary-color;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover {
  border-bottom: 5px solid $primary-color;
}

.content-area{                  // used for each section of the page
  margin-top: 70px;
}

.about-area,
.services-area,
.portfolio-area,
.testimonals-area,
.contact-area{
  // border: 1px solid #aaa;
  padding: 50px 40px;
  display: block;

}


// ____________________________________________
//
//      About area
// ____________________________________________

.about-area {
  padding: 60px 40px 70px 40px;

  .row {
    margin: 0px;
  }
  h1 {
    margin-bottom: 15px;
  }
  h2 {
    margin-top: 0px;
  }
}

.top-line {
  position: relative;
  background-color: $soft-white;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid $primary-color;
}

.top-line:after {
  content: '';
  display: flex;
  margin: auto;

  position: absolute;
  top: 0;
  left: 0;
  height: 105%;
  width: 100px;
  background-image:
    linear-gradient(
      90deg,
      rgba(255,255,255,1),
      rgba(0,0,0,0) 100px

    );
  z-index: 3;
}

.top-line-right-block {
  float: right;
  background-color: #e4e4e4;
  width: 50px;
  height: 50px;
  // z-index: 999;
}

// structure
//   .container-flex
//     .main-flex
//       .header-flex
//         .title-flex
//         .img-flex
//       .about-me
//     .right-line-flex

.container-flex{
  display: flex;
  align-items: stretch;
}

.main-flex{
  display: flex;
  flex-flow: column;
  width: 100%;
}

.main-block {
  display: block;
  width: 100%;
  p {
    padding: 0 30px 10px;
  }
}

.top-flex{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.title-text-flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.img-mobile {
  display: none;
  margin-bottom: 10px;
}

.about-area img,
.portfolio-area img {
  padding: 10px;
}

.about-me {
  padding: 0 20px;
  text-align: center;
}

.right-line-flex {
  position: relative;
  background-color: $soft-white;
  border-left: 1px solid $primary-color;

  width: 50px;
  min-width: 50px;
}

.right-line-flex:after {
  display: flex;
  margin: auto;
  flex-flow: column wrap;
  align-content: flex-end;
  content: '';

  position: absolute;
  bottom: 0;
  left: -1px;
  height: 100px;
  width: 105%;
    background-image:
      linear-gradient(
        0deg,
        rgba(255,255,255,1),
        rgba(0,0,0,0) 100px

      );
    z-index: 3;
}


// ____________________________________________
//
//      Services Area
// ____________________________________________

.services-area i {
  border: 3px solid $primary-color;
  border-radius: 50%;
  color: $primary-color;
  font-size: 4rem;
  margin-top: 30px;
  padding: 20px;
}


// ____________________________________________
//
//      Call out box styles
// ____________________________________________

.parallax-call-out-background {
    // The image used
    background-image: url(../images/call-out.jpg);

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    // Set a specific height
    display: flex;
    height: 400px;


}
.parallax-call-out-overlay {
  width: 70%;
  margin: auto;

  font-size: 3.5rem;
  line-height: 6rem;
  text-align: center;
  color: $soft-white;
}


// ____________________________________________
//
//      Portfolio Styles
// ____________________________________________

.portfolio-area {
  // background-color: $secondary-color;
  h1 {
    // color: $soft-white;
  }
  img {
    width: 100%;
  }
  .btn-group{
    width: 100%;
    text-align: center;
    // margin: 0 auto
    margin: 25px 0;
  }

  .btn {
    border: 1px solid $grey-soft;
    font-size: 1.5rem;
    background-color: $white;
    float: none;
    margin-top: 3px;

    &:hover {
      color: $call-to-action;
    }
    &:focus {
      outline: none;
    }
  }

  .is-checked {
    border: 1px solid $call-to-action;
    color: $white;
    background-color: $call-to-action;
    // margin: 0px;
    &:hover {
      color: $white;
    }
  }

  .project-grid {
    display: block;
  }

  .project {
    color: $grey-dark;
    // width: 33.33%;
    width: 100%;
    text-align: center;
    padding: 4% 2%;

    a {
      color: $grey-dark;

      &:hover{
        color: $primary-color;
      }
    }

    .col-md-4 {
      padding: 0 30px;
    }
  }

  .project-innerwrapper {
    background-color: $soft-white;
    overflow: hidden;
  }

  .title {
    font-family: 'Roboto Slab', sans-serif, serif;
    font-size: 2.25rem;
    // font-size: 2vw;
    padding: 15px 0;
  }

  .project-action-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    a {
      // border: 1px solid #444;
      text-decoration: none;
      padding: 10px 0 5px 0;
      margin: auto;
      display: block;
      align-items: center;
      text-align: center;
      width: 100%;
    }
  }
  .fa {
    display: block;
    font-size: 2.5rem;
    // font-size: 3vw;
  }
  .img-wrapper {
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      height: 100%;
      left: 0;
      width: 100%;
      background-color: rgba(250,250,250, 0.3);

    }
  }

}

// ____________________________________________
//
//      Modal styles
// ____________________________________________

.modal{
  overflow: hidden;
  background: rgba(250, 250, 250, 0.65) repeat scroll center center;
  // background: url($white-background-striped);
   //background: rgba(50, 50, 50, 0.75) url($white-background-striped) repeat scroll center center;
  color: $grey-medium;
  .btn {
    cursor: pointer;
  }
  .btn .code {
  //   color: $blue;
  }
  .btn .site {
//     color: $text-color-grey;
  }
  .btn .myclose {
  //   color: $call-to-action;
  }

  .tech-wrapper {
    display: block;
    text-align: center;
    margin: 10px 0px;
  }
  .tech {
    display: inline-block;
    padding: 0px 10px;
    margin-left: 3px;
    margin-top: 3px;
    background-color: lighten($grey-soft, 20%);
    color: $white;
    &:first-child{
      margin-left: 0px;
      border-radius: 3px 0 0 3px;
    }
    &:last-child{
      border-radius: 0 3px 3px 0;
    }
  }
}

.modal-content {
  border-radius: 0;
  padding-bottom: 0;

}

.modal-body {
  padding: 15px 15px 5px;
}

.modal-header{
  border-bottom: medium $secondary-color;
  background-color: $primary-color;
  h2 {
    color: $soft-white;
  }
  .close {
    font-size: 4rem;
    margin: 0;
  }
}

.modal-title {
  font-size: 3rem;
  color: $grey-medium;
  text-align: center;
  padding: 0;
  border-bottom: none;
}

.modal-img-wrapper img{
  border-radius: 2px;
  margin: 10px auto 20px;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px #ccc;
  -moz-box-shadow: 2px 2px 5px #ccc;
  box-shadow: 2px 2px 5px #ccc;
}

.modal-footer {
  border: none;
  text-align: center;
  padding-top: 0;
  display: flex;
  justify-content: space-around;
  .fa {
    display: block;
    width: 100%;
    font-size: 3.5rem;
  }
  .fa-plus-circle {
    transform: rotate(45deg);
  }
  .btn {
    font-size: 2rem;
    display: inline-block;
  }
  a:hover{
    color: lighten($call-to-action, 10%);
  }
}

.hide {
  display: none !important;
}
.code {
  display: inline-block;
}


// ____________________________________________
//
//      Contact area
// ____________________________________________

.contact-area {
  padding: 0 15rem 3rem;
  .row {
    margin: 0;
  }
  .btn-primary{
    background-color: $call-to-action;
    border: 1px solid transparent;
    font-size: 1.75rem;
    padding: 5px 30px;
    border-radius: 0px;
    margin-top: -5px;

    &:hover {
      border: 1px solid $call-to-action;
      background-color: $white;
      color: $grey-dark;
    }
  }
}

label {
  display: block;
  color: tomato;
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 100%;
  padding-left: 10px;
  margin-top: -40px;
  margin-bottom: 10px;
}

.form-control{
  font-size: 1.75rem;
  border-radius: 0px;
  height: 45px;
  padding: 10px;
  margin-bottom: 40px;

  &:focus {
    border: 1px solid $primary-color;
    box-shadow: 1px 1px 0 #ccc inset;
  }

}

.success-background {
  display: flex;
  height: 150px;
  width: 100%;
  // background-color: #ccc;
  z-index: 99;
}

.success-message {
  font-size: 2.25rem;
  text-align: center;
  max-width: 650px;
  margin: auto;
  background-color: #eeffee;
  padding: 20px;
}


// ____________________________________________
//
//      Footer
// ____________________________________________

.footer {
  height: 200px;
  background-color: $grey-dark;
  color: darken($soft-white,20%);
  font-size: 2rem;
  display:flex;

  p{
    margin: auto;
  }
}

// ____________________________________________
//
//      development (temp)
// ____________________________________________

.border {
  border: 1px solid #ccc;
}

.hide {
  display: none;
}

// ____________________________________________
//
//      Media queries
// ____________________________________________

@media (max-width: 900px){
  // about
  .top-flex {
    .title-text-flex {
      display: block;
    }
    .img-mobile {
      display: inline-block;
      margin: 0px auto 10px auto;
      border-radius: 50%;
    }
    img {
      display: none;
    }
  }
  // contact
  .contact-area {
    padding: 50px 10rem;
  }

}

@media (max-width: 640px) {
  // general
  .about-area,
  .services-area,
  .portfolio-area,
  .testimonals-area{
    padding: 50px 10px;
  }

  // // landing page
  .cta-buttons .btn{
      font-size: 1.5rem;
  }
  .landing .intro-message{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    padding: 10px 10% 40px;
  }
  // about
  .right-line-flex {
    width: 15px;
    min-width: 15px !important;
  }
  .top-line-right-block {
    width: 15px;
    height: 15px;
  }
  .top-line {
    height: 15px;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.7rem;
  }

  .main-block p {
    text-align: left;
    padding: 0;
  }

  .parallax-call-out-background {
    height: 300px;
  }
  .parallax-call-out-overlay {
    font-size: 2.25rem;
    line-height: 3.5rem;
  }

  // Portfolio
  .portfolio-area .project {
    width: 50%;
    font-size: 1rem;
  }

  // contact
  .contact-area {
    padding: 50px 2rem;
  }

  .success-message {
    font-size: 2rem;
  }
}

// Portfolio
@media (min-width: 768px){
  .portfolio-area .project {
    width: 33.33%;
    font-size: 2rem;
  }

}
