body {
  background-color: #FFFFFF;
  color: #676767;
  font-family: 'Roboto', sans-serif, serif !important;
  font-size: 1.75rem;
  line-height: 3rem;
  position: relative; }

h1 {
  font-family: 'Roboto Slab', sans-serif, serif;
  color: #0379C4;
  font-size: 3.5vw;
  text-align: center;
  margin-bottom: 30px; }

h1:before {
  content: '';
  display: block;
  margin-top: -70px;
  height: 70px;
  visibility: hidden; }

h2 {
  font-size: 2vw;
  margin-bottom: 20px; }

.landing {
  background-attachment: fixed;
  background-color: #111;
  background-image: url("../images/working-on-laptop-sun.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  display: flex; }
  .landing:after {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .landing .intro-message {
    font-family: 'Roboto Slab', sans-serif, serif;
    font-size: 2.75rem;
    background-color: rgba(245, 250, 255, 0.85);
    border-radius: 3px;
    color: #3f3f3f;
    display: inline-block;
    padding: 10px 12% 40px;
    margin: 75px auto auto;
    z-index: 10; }
  .landing hr {
    margin: -10px 0 0 0;
    border: 1px solid #cfcfcf; }
  .landing h2 {
    font-weight: 300; }

.cta-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 40px; }
  .cta-buttons .btn {
    padding: 5px 20px;
    background-color: rgba(224, 153, 0, 0.65);
    border: 0px solid #0379C4;
    color: #3f3f3f;
    font-family: 'Roboto', sans-serif, serif;
    font-weight: 400;
    font-size: 2.25rem;
    margin-bottom: 5px; }
  .cta-buttons .btn:first-child {
    margin-right: 5px; }

.down-arrow {
  bottom: 5%;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 3.5rem;
  left: 49.3%;
  position: absolute;
  z-index: 100; }

.sticky-wrapper {
  width: 100%;
  z-index: 999; }

.navbar,
.navbar-default {
  width: 100%;
  background-color: rgba(47, 64, 82, 0.95);
  border: none;
  border-radius: 0;
  z-index: 999; }

.navbar-right {
  color: #2F4052; }

.navbar-default .navbar-brand {
  padding-left: 20px;
  color: #F4F4F4;
  font-family: 'Roboto Slab', sans-serif, serif;
  font-size: 2.5rem; }

.navbar-nav li a {
  color: #F4F4F4 !important;
  background-color: inherit !important;
  border-bottom: 5px solid #2F4052; }

.navbar-nav li a:hover {
  border-bottom: 5px solid #0379C4; }

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover {
  border-bottom: 5px solid #0379C4; }

.content-area {
  margin-top: 70px; }

.about-area,
.services-area,
.portfolio-area,
.testimonals-area,
.contact-area {
  padding: 50px 40px;
  display: block; }

.about-area {
  padding: 60px 40px 70px 40px; }
  .about-area .row {
    margin: 0px; }
  .about-area h1 {
    margin-bottom: 15px; }
  .about-area h2 {
    margin-top: 0px; }

.top-line {
  position: relative;
  background-color: #F4F4F4;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #0379C4; }

.top-line:after {
  content: '';
  display: flex;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 105%;
  width: 100px;
  background-image: linear-gradient(90deg, white, transparent 100px);
  z-index: 3; }

.top-line-right-block {
  float: right;
  background-color: #e4e4e4;
  width: 50px;
  height: 50px; }

.container-flex {
  display: flex;
  align-items: stretch; }

.main-flex {
  display: flex;
  flex-flow: column;
  width: 100%; }

.main-block {
  display: block;
  width: 100%; }
  .main-block p {
    padding: 0 30px 10px; }

.top-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }

.title-text-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  text-align: center; }

.img-mobile {
  display: none;
  margin-bottom: 10px; }

.about-area img,
.portfolio-area img {
  padding: 10px; }

.about-me {
  padding: 0 20px;
  text-align: center; }

.right-line-flex {
  position: relative;
  background-color: #F4F4F4;
  border-left: 1px solid #0379C4;
  width: 50px;
  min-width: 50px; }

.right-line-flex:after {
  display: flex;
  margin: auto;
  flex-flow: column wrap;
  align-content: flex-end;
  content: '';
  position: absolute;
  bottom: 0;
  left: -1px;
  height: 100px;
  width: 105%;
  background-image: linear-gradient(0deg, white, transparent 100px);
  z-index: 3; }

.services-area i {
  border: 3px solid #0379C4;
  border-radius: 50%;
  color: #0379C4;
  font-size: 4rem;
  margin-top: 30px;
  padding: 20px; }

.parallax-call-out-background {
  background-image: url(../images/call-out.jpg);
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 400px; }

.parallax-call-out-overlay {
  width: 70%;
  margin: auto;
  font-size: 3.5rem;
  line-height: 6rem;
  text-align: center;
  color: #F4F4F4; }

.portfolio-area img {
  width: 100%; }

.portfolio-area .btn-group {
  width: 100%;
  text-align: center;
  margin: 25px 0; }

.portfolio-area .btn {
  border: 1px solid #8f8f8f;
  font-size: 1.5rem;
  background-color: #FFFFFF;
  float: none;
  margin-top: 3px; }
  .portfolio-area .btn:hover {
    color: rgba(224, 153, 0, 0.65); }
  .portfolio-area .btn:focus {
    outline: none; }

.portfolio-area .is-checked {
  border: 1px solid rgba(224, 153, 0, 0.65);
  color: #FFFFFF;
  background-color: rgba(224, 153, 0, 0.65); }
  .portfolio-area .is-checked:hover {
    color: #FFFFFF; }

.portfolio-area .project-grid {
  display: block; }

.portfolio-area .project {
  color: #3f3f3f;
  width: 100%;
  text-align: center;
  padding: 4% 2%; }
  .portfolio-area .project a {
    color: #3f3f3f;
    cursor: pointer; }
    .portfolio-area .project a:hover {
      color: #0379C4; }
  .portfolio-area .project .col-md-4 {
    padding: 0 30px; }

.portfolio-area .project-innerwrapper {
  background-color: #F4F4F4;
  overflow: hidden; }

.portfolio-area .title {
  font-family: 'Roboto Slab', sans-serif, serif;
  font-size: 2.25rem;
  padding: 15px 0; }

.portfolio-area .project-action-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-size: 1.75rem; }
  .portfolio-area .project-action-icons a {
    text-decoration: none;
    padding: 10px 5px 5px;
    margin: auto;
    display: block;
    align-items: center;
    text-align: center;
    width: 100%; }

.portfolio-area .fa {
  display: block;
  font-size: 2.5rem; }

.portfolio-area .img-wrapper {
  position: relative; }
  .portfolio-area .img-wrapper:after {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.3); }

.modal {
  overflow: hidden;
  background: rgba(250, 250, 250, 0.65) repeat scroll center center;
  color: #676767; }
  .modal .btn {
    cursor: pointer; }
  .modal .tech-wrapper {
    display: block;
    text-align: center;
    margin: 10px 0px; }
  .modal .tech {
    display: inline-block;
    padding: 0px 10px;
    margin-left: 3px;
    margin-top: 3px;
    background-color: #c2c2c2;
    color: #FFFFFF; }
    .modal .tech:first-child {
      margin-left: 0px;
      border-radius: 3px 0 0 3px; }
    .modal .tech:last-child {
      border-radius: 0 3px 3px 0; }

.modal-content {
  border-radius: 0;
  padding-bottom: 0; }

.modal-body {
  padding: 15px 15px 5px; }

.modal-header {
  border-bottom: medium #2F4052;
  background-color: #0379C4; }
  .modal-header h2 {
    color: #F4F4F4; }
  .modal-header .close {
    font-size: 4rem;
    margin: 0; }

.modal-title {
  font-size: 3rem;
  color: #676767;
  text-align: center;
  padding: 0;
  border-bottom: none; }

.modal-img-wrapper img {
  border-radius: 2px;
  margin: 10px auto 20px;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px #ccc;
  -moz-box-shadow: 2px 2px 5px #ccc;
  box-shadow: 2px 2px 5px #ccc; }

.modal-footer {
  border: none;
  text-align: center;
  padding-top: 0;
  display: flex;
  justify-content: space-around; }
  .modal-footer .fa {
    display: block;
    width: 100%;
    font-size: 3.5rem; }
  .modal-footer .fa-plus-circle {
    transform: rotate(45deg); }
  .modal-footer .btn {
    font-size: 2rem;
    display: inline-block; }
  .modal-footer a:hover {
    color: rgba(255, 181, 20, 0.65); }

.hide {
  display: none !important; }

.code {
  display: inline-block; }

.contact-area {
  padding: 0 15rem 3rem; }
  .contact-area .row {
    margin: 0; }
  .contact-area .btn-primary {
    background-color: rgba(224, 153, 0, 0.65);
    border: 1px solid transparent;
    font-size: 1.75rem;
    padding: 5px 30px;
    border-radius: 0px;
    margin-top: -5px; }
    .contact-area .btn-primary:hover {
      border: 1px solid rgba(224, 153, 0, 0.65);
      background-color: #FFFFFF;
      color: #3f3f3f; }

label {
  display: block;
  color: tomato;
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 100%;
  padding-left: 10px;
  margin-top: -40px;
  margin-bottom: 10px; }

.form-control {
  font-size: 1.75rem;
  border-radius: 0px;
  height: 45px;
  padding: 10px;
  margin-bottom: 40px; }
  .form-control:focus {
    border: 1px solid #0379C4;
    box-shadow: 1px 1px 0 #ccc inset; }

.success-background {
  display: flex;
  height: 150px;
  width: 100%;
  z-index: 99; }

.success-message {
  font-size: 2.25rem;
  text-align: center;
  max-width: 650px;
  margin: auto;
  background-color: #eeffee;
  padding: 20px; }

.footer {
  height: 200px;
  background-color: #3f3f3f;
  color: #c1c1c1;
  font-size: 2rem;
  display: flex; }
  .footer p {
    margin: auto;
    padding: 10px;
    text-align: center; }

.border {
  border: 1px solid #ccc; }

.hide {
  display: none; }

.bounce {
  animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  -moz-animation: bounce 4s infinite;
  -o-animation: bounce 4s infinite; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0); }
  40% {
    -o-transform: translateY(-30px); }
  60% {
    -o-transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

@media (max-width: 900px) {
  .top-flex .title-text-flex {
    display: block;
    padding: 0 10px; }
  .top-flex .img-mobile {
    display: inline-block;
    margin: 0px auto 10px auto;
    border-radius: 50%; }
  .top-flex img {
    display: none; }
  .contact-area {
    padding: 50px 10rem; } }

@media (max-width: 640px) {
  .about-area,
  .services-area,
  .portfolio-area,
  .testimonals-area {
    padding: 50px 10px; }
  .cta-buttons .btn {
    font-size: 1.5rem; }
  .landing .intro-message {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    padding: 10px 10% 40px; }
  .right-line-flex {
    width: 15px;
    min-width: 15px !important; }
  .top-line-right-block {
    width: 15px;
    height: 15px; }
  .top-line {
    height: 15px; }
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 1.7rem; }
  .main-block p {
    text-align: left;
    padding: 0; }
  .parallax-call-out-background {
    height: 300px; }
  .parallax-call-out-overlay {
    font-size: 2.25rem;
    line-height: 3.5rem; }
  .portfolio-area .project {
    width: 50%;
    font-size: 1rem; }
  .contact-area {
    padding: 50px 2rem; }
  .success-message {
    font-size: 2rem; } }

@media (min-width: 768px) {
  .portfolio-area .project {
    width: 33.33%;
    font-size: 2rem; } }
