html {
  font-size: 66.7%; }

body {
  background-color: #FFFFFF;
  color: #676767;
  font-family: "Roboto", sans-serif, serif !important;
  font-size: 2rem;
  line-height: 2.5rem;
  position: relative; }

h1 {
  font-family: "Titillium Web", sans-serif;
  color: #3c6090;
  font-size: 3.5vw;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 300; }

h1:before {
  content: '';
  display: block;
  margin-top: -70px;
  height: 70px;
  visibility: hidden; }

h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 2vw;
  margin-bottom: 20px; }

.noheight {
  height: 0px; }

.landing {
  background-attachment: initial;
  background-color: #111;
  background-image: url("../images/working-on-laptop-sun.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .landing:after {
    background: rgba(0, 0, 0, 0.2);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .landing .intro-message {
    font-family: 'Roboto Slab', sans-serif, serif;
    font-family: "Titillium Web", sans-serif;
    font-size: 2.75rem;
    background-color: #F4F4F4;
    color: #3f3f3f;
    display: inline-block;
    padding: 10px 12% 40px;
    margin: 75px auto auto;
    z-index: 10;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }
  .landing hr {
    margin: -10px 0 0 0;
    border: 1px solid #cfcfcf; }
  .landing h2 {
    font-weight: 300;
    color: #EEAB3A; }
  .landing a {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .landing a:hover, .landing a:active, .landing a:focus {
    color: #FFFFFF; }

.cta-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px; }
  .cta-buttons .btn {
    border-radius: 0px;
    padding: 10px 25px;
    background-color: #3c6090;
    border: 0px solid #FFFFFF;
    color: #FFC600;
    font-family: 'Roboto', sans-serif, serif;
    font-weight: 400;
    font-size: 2.25rem;
    margin-bottom: 5px;
    -webkit-transition-property: color, border-color;
    transition-property: color, border-color;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    border: 2px solid transparent; }
    .cta-buttons .btn:hover {
      color: #3c6090;
      background-color: #F4F4F4;
      border: 2px solid #3c6090; }
  .cta-buttons .btn:first-child {
    margin-right: 5px; }

.down-arrow {
  bottom: 5%;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 3.5rem;
  left: 49.3%;
  position: absolute;
  z-index: 100; }

.sticky-wrapper {
  width: 100%;
  z-index: 999; }

.navbar,
.navbar-default {
  width: 100%;
  background-color: #3c6090;
  opacity: 0.98;
  border: none;
  border-radius: 0;
  z-index: 999;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.navbar-right {
  color: #FFC600; }

.navbar-default .navbar-brand {
  padding-left: 20px;
  color: #EEAB3A !important;
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5rem; }

.navbar-nav li a {
  color: #FFC600 !important;
  background-color: inherit !important;
  border-bottom: 3px solid transparent;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-family: "Titillium Web", sans-serif; }

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav li a:hover {
  border-bottom: 2px solid #FFC600; }

.content-area {
  margin-top: 70px; }

.about-area,
.services-area,
.portfolio-area,
.ial-area,
.contact-area {
  padding: 50px 40px;
  display: block; }

.about-area {
  padding: 80px 40px 50px 40px; }
  .about-area .row {
    margin: 0px; }
  .about-area h1 {
    margin-bottom: 15px; }
  .about-area h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }

.top-line {
  position: relative;
  background-color: #F4F4F4;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #3c6090; }

.top-line:after {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 105%;
  width: 100px;
  background-image: -webkit-linear-gradient(left, white, rgba(255, 255, 255, 0) 100px);
  background-image: linear-gradient(90deg, white, rgba(255, 255, 255, 0) 100px);
  z-index: 3; }

.top-line-right-block {
  float: right;
  background-color: #e4e4e4;
  width: 50px;
  height: 50px; }

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.main-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  padding: 25px 25px 0px 0px;
  overflow: hidden; }

.main-block {
  display: block;
  width: 100%; }
  .main-block p {
    padding: 0 30px 10px; }

.top-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.title-text-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center; }

.img-flex {
  display: block; }

.img-mobile {
  display: none;
  margin-bottom: 10px; }

.portfolio-area img {
  padding: 10px; }

.about-me {
  padding: 0 20px;
  text-align: center; }

.right-line-flex {
  position: relative;
  background-color: #F4F4F4;
  border-left: 1px solid #3c6090;
  width: 50px;
  min-width: 50px; }

.right-line-flex:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  content: '';
  position: absolute;
  bottom: 0;
  left: -1px;
  height: 100px;
  width: 105%;
  background-image: -webkit-linear-gradient(bottom, white, rgba(255, 255, 255, 0) 100px);
  background-image: linear-gradient(0deg, white, rgba(255, 255, 255, 0) 100px);
  z-index: 3; }

.services-area i {
  border: 3px solid #3c6090;
  border-radius: 50%;
  color: #3c6090;
  font-size: 4rem;
  margin-top: 30px;
  padding: 20px; }

.services-area h2 {
  color: #3c6090; }

.parallax-call-out-background {
  background: url("../images/brushed_aluminium_darkened.png");
  background-repeat: repeat;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin: 50px 0;
  font-family: "Titillium Web", sans-serif; }

.parallax-call-out-overlay {
  width: 70%;
  margin: auto;
  font-size: 3.5rem;
  line-height: 6rem;
  text-align: center;
  color: #F4F4F4; }

.portfolio-area img {
  width: 100%; }

.portfolio-area .project-grid {
  margin-top: 25px; }

.portfolio-area .btn-group {
  width: 100%;
  text-align: center;
  margin: 25px 0 0; }

.portfolio-area .btn {
  border: 1px solid transparent;
  font-size: 1.5rem;
  background-color: #3c6090;
  color: #FFC600;
  float: none;
  margin-top: 3px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .portfolio-area .btn:hover {
    color: #3c6090; }
  .portfolio-area .btn:hover, .portfolio-area .btn:focus, .portfolio-area .btn:active {
    color: #3c6090;
    background-color: #FFFFFF;
    border: 1px solid #3c6090; }

.portfolio-area .is-checked {
  color: #3c6090;
  background-color: #FFFFFF;
  border: 1px solid #3c6090; }

.portfolio-area .project-grid {
  display: block; }

.portfolio-area .project {
  color: #3f3f3f;
  width: 100%;
  text-align: center;
  padding: 4% 2%; }
  .portfolio-area .project a {
    color: #3f3f3f;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .portfolio-area .project .project-action-icons a:hover {
    color: #FFC600; }
  .portfolio-area .project .col-md-4 {
    padding: 0 30px; }

.portfolio-area .project-innerwrapper {
  background-color: #F4F4F4;
  overflow: hidden;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.portfolio-area .title {
  font-family: "Titillium Web", sans-serif;
  font-size: 2.25rem;
  padding: 15px 0; }

.portfolio-area .project-action-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.75rem; }
  .portfolio-area .project-action-icons a {
    text-decoration: none;
    padding: 15px 5px 10px;
    margin: auto;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%; }

.portfolio-area .fa {
  display: block;
  font-size: 2.5rem; }

.portfolio-area .img-wrapper {
  position: relative; }
  .portfolio-area .img-wrapper:after {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.3); }

div.img-responsive {
  width: 425px;
  height: 266px;
  position: relative;
  margin: 0 auto;
  background-size: cover;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  background-position: center; }

.img-wrapper {
  overflow: hidden;
  width: 95%;
  height: 100%;
  margin: 0 auto; }

.project-innerwrapper:hover div.img-responsive {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

div.img-responsive::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 40, 40, 0.22);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden; }

.project-innerwrapper:hover div.img-responsive::before {
  opacity: 1; }

.project-innerwrapper a {
  text-decoration: none; }

.modal {
  overflow: hidden;
  background: rgba(250, 250, 250, 0.65) repeat scroll center center;
  color: #676767; }
  .modal .btn {
    cursor: pointer; }
  .modal .tech-wrapper {
    display: block;
    text-align: center;
    margin: 10px 0px; }
  .modal .tech {
    display: inline-block;
    padding: 0px 10px;
    margin-left: 3px;
    margin-top: 3px;
    background-color: #c2c2c2;
    color: #FFFFFF; }
    .modal .tech:first-child {
      margin-left: 0px;
      border-radius: 3px 0 0 3px; }
    .modal .tech:last-child {
      border-radius: 0 3px 3px 0; }

.modal-content {
  border-radius: 0;
  padding-bottom: 0; }

.modal-body {
  padding: 15px 15px 5px; }

.modal-header {
  border-bottom: medium #808080;
  background-color: #3c6090; }
  .modal-header h2 {
    color: #F4F4F4; }
  .modal-header .close {
    font-size: 4rem;
    margin: 0; }

.modal-title {
  font-size: 3rem;
  color: #676767;
  text-align: center;
  padding: 0;
  border-bottom: none; }

.modal-img-wrapper {
  border-radius: 2px;
  margin: 10px auto 20px;
  cursor: pointer;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.modal-footer {
  border: none;
  text-align: center;
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .modal-footer .fa {
    display: block;
    width: 100%;
    font-size: 3.5rem; }
  .modal-footer .fa-plus-circle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .modal-footer .btn {
    font-size: 2rem;
    display: inline-block; }
  .modal-footer a:hover {
    color: #ffd133; }

.hide {
  display: none !important; }

.code {
  display: inline-block; }

.testimonial-area {
  font-family: "Roboto", sans-serif, serif !important;
  font-size: 2.5rem;
  line-height: 3rem;
  background-color: #3f3f3f;
  background: url("../images/brushed_aluminium_darkened.png");
  background-repeat: repeat;
  padding: 50px 0 50px;
  margin: 50px 0; }
  .testimonial-area .slick-dots {
    padding-top: 25px; }
  .testimonial-area h1 {
    margin-top: -100px;
    height: 100px; }

.testimonial-wrapper {
  width: 90%;
  margin: 0 auto; }

.box blockquote {
  margin: 0 25px;
  background: #FFFFFF;
  padding: 50px;
  position: relative;
  border: none;
  text-align: center;
  font-size: 2rem;
  line-height: 3.25rem; }

.box cite {
  display: block;
  position: relative;
  right: 25px;
  top: 15px;
  text-align: right;
  font-size: 1.75rem; }

.contact-area {
  padding: 5rem 15rem 3rem; }
  .contact-area .row {
    margin: 0; }
  .contact-area .intro {
    margin-bottom: 2em;
    text-align: center; }
  .contact-area input[type=text], .contact-area textarea.form-control {
    -webkit-transition: all 0.25s ease-in-out !important;
    transition: all 0.25s ease-in-out !important; }
  .contact-area .btn-primary {
    background-color: #3c6090;
    color: #FFC600;
    border: 2px solid transparent;
    font-size: 1.75rem;
    padding: 10px 25px;
    border-radius: 0px;
    margin-top: -5px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .contact-area .btn-primary .fa-paper-plane {
      margin: 0 5px 0 -5px; }
    .contact-area .btn-primary:hover {
      border: 2px solid #3c6090;
      background-color: #FFFFFF !important;
      color: #3c6090; }
  .contact-area .social {
    width: 100%;
    padding: 10px;
    margin: 0 auto; }
    .contact-area .social .social-icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .contact-area .social a {
      font-size: 1.65em;
      overflow: hidden;
      border-radius: 3px;
      border: 1px solid #3c6090;
      display: table;
      float: left;
      margin: 0 10px 10px 0;
      text-decoration: none;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      .contact-area .social a:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
    .contact-area .social i {
      height: 50px;
      width: 50px;
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
    .contact-area .social .fa {
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      color: #3c6090; }
    .contact-area .social .fa:hover {
      border: 1px solid transparent; }
    .contact-area .social .fa-github:hover {
      background-color: #222;
      color: #fafafc; }
    .contact-area .social .fa-linkedin:hover {
      background-color: #0077b5;
      color: #fafafc; }
    .contact-area .social .fa-twitter:hover {
      background-color: #4099FF;
      color: #fafafc; }
    .contact-area .social .fa-free-code-camp:hover {
      background-color: #006400;
      color: #fafafc; }
    .contact-area .social .fa-codepen:hover {
      background-color: #222;
      color: #fafafc; }

label {
  display: block;
  color: tomato;
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 100%;
  padding-left: 10px;
  margin-top: -40px;
  margin-bottom: 10px; }

.form-control {
  font-size: 1.75rem;
  border-radius: 0px;
  height: 45px;
  padding: 10px;
  margin-bottom: 40px; }
  .form-control:focus {
    border: 1px solid #3c6090; }

.success-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  width: 100%;
  z-index: 99; }

.success-message {
  font-size: 2.25rem;
  text-align: center;
  max-width: 650px;
  margin: 4.5em auto;
  background-color: #eeffee;
  padding: 20px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.footer {
  height: 200px;
  background-color: #3f3f3f;
  background: url("../images/brushed_aluminium_darkened.png");
  background-repeat: repeat;
  color: #c1c1c1;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer p {
    margin: auto;
    padding: 10px;
    text-align: center; }

.border {
  border: 1px solid #ccc; }

.hide {
  display: none; }

.bounce {
  animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  -moz-animation: bounce 4s infinite;
  -o-animation: bounce 4s infinite; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); } }

@media (max-width: 950px) {
  .social-icons {
    margin-top: 2em; } }

@media (max-width: 900px) {
  .top-flex .title-text-flex {
    display: block;
    padding: 0 10px; }
  .top-flex .img-mobile {
    display: inline-block;
    margin: 5px auto 30px auto;
    border-radius: 50%; }
  .top-flex img {
    display: none; }
  .title-text-flex h2 {
    font-size: 2.2vw; }
  .contact-area {
    padding: 50px 10rem; } }

@media (min-width: 768px) {
  .portfolio-area .project {
    width: 33.33%;
    font-size: 2rem; } }

@media (max-width: 767px) {
  .portfolio-area .project {
    width: 50%;
    font-size: 1rem; } }

@media (max-width: 640px) {
  .portfolio-area .project {
    width: 60%;
    margin: 0 20%;
    font-size: 1rem; } }

@media (max-width: 480px) {
  .portfolio-area .project {
    width: 95%;
    margin: 0 2.5%;
    padding: 2em 5px; } }

@media (max-width: 640px) {
  .about-area,
  .services-area,
  .portfolio-area,
  .nals-area {
    padding: 50px 10px; }
  .cta-buttons .btn {
    font-size: 1.5rem; }
  .landing .intro-message {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    padding: 10px 10% 40px; }
  .right-line-flex {
    width: 15px;
    min-width: 15px !important; }
  .top-line-right-block {
    width: 15px;
    height: 15px; }
  .top-line {
    height: 15px; }
  h1 {
    font-size: 2.5rem; }
  .title-text-flex h2 {
    font-size: 1.7rem; }
  h2 {
    font-size: 1.7rem; }
  .main-block p {
    text-align: left;
    padding: 0; }
  .parallax-call-out-background {
    height: 300px; }
  .parallax-call-out-overlay {
    font-size: 2.25rem;
    line-height: 3.5rem; }
  .contact-area {
    padding: 50px 2rem; }
  .success-message {
    font-size: 2rem; } }

@media (max-width: 900px) {
  h2 {
    font-size: 2.2rem !important; } }

/*# sourceMappingURL=style.css.map */
