body {
  background-color: #FFFFFF;
  color: #676767;
  font-family: 'Helvetica', "Droid Serif",serif;
  font-size: 1.75rem;
  line-height: 3rem;
  position: relative; }

.landing {
  background-attachment: fixed;
  background-color: #111;
  background-image: url("../images/working-on-laptop.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff;
  max-height: 20vh;
  min-height: 20vh;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%; }

.sticky-wrapper {
  width: 100%;
  z-index: 999; }

.navbar,
.navbar-default {
  width: 100%;
  background-color: #334A55;
  border: none;
  border-radius: 0; }

.navbar-right {
  color: #334A55; }

.navbar-nav li a {
  color: #F4F4F4 !important;
  background-color: inherit !important;
  border-bottom: 5px solid #334A55; }

.navbar-nav li a:hover {
  border-bottom: 5px solid #3498DB; }

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover {
  border-bottom: 5px solid #3498DB; }

.content-area {
  margin-top: 70px; }

.about-area,
.services-area,
.portfolio-area,
.testimonals-area,
.contact-area {
  border: 1px solid #aaa;
  padding: 50px 40px; }

h1 {
  font-family: sans-serif;
  color: #3498DB; }

h1:before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden; }

.about-area .row {
  margin: 0px; }

.top-line {
  background-color: #F4F4F4;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #3498DB; }

.right-line {
  background-color: #F4F4F4;
  height: 100%;
  width: 50px; }

.about-area img {
  float: right;
  padding: 0px 0px 20px 20px; }

.about-area .title {
  float: left; }

.services-area i {
  border: 3px solid #3498DB;
  border-radius: 50%;
  color: #3498DB;
  font-size: 4rem;
  margin: 30px;
  padding: 20px; }

.modal {
  overflow: hidden;
  background-color: #334A55; }

.modal-title {
  border-bottom: 1px solid #222223;
  font-size: 3rem;
  line-height: 5rem;
  text-align: center; }

.modal-img-wrapper img {
  border-radius: 5px;
  margin: 10px auto;
  -webkit-box-shadow: 2px 2px 5px #ccc;
  -moz-box-shadow: 2px 2px 5px #ccc;
  box-shadow: 2px 2px 5px #ccc; }

.modal-footer {
  border: none; }

.border {
  border: 1px solid #ccc; }
